@import url('styles.css');

/* Layout Configurations */

/* Container */

.container {
    display: grid;
    grid-template-rows: 1fr 6fr 3fr 4fr;
    grid-template-columns: 1fr 4fr 2fr;
}

/* Header */

/* Global */
.top-header {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    justify-items: center;
    align-items: center;
}


.logo {
    font-size: 30px;
    font-weight: 700;
}

.logo::first-letter {
    font-size: 40px;
    font-weight: 900;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

a {
    text-decoration: none;
}


/* Header End */

/* Hero Section */

.hero {
    grid-column: 1/-1;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

/* left-hero  */

.left-hero {
    grid-column: 1/3;
    padding: 100px;
    padding-left: 195px;
    padding-right: 0;
    font-size: 40px;
    text-transform: capitalize;
}

.sub-text {
    margin-top: 10px;
}

.search {
    font-size: 15px;
    border-radius: 25px;
    padding: 10px;
    border: 3px solid #bbbbbb;
}

.subscribe {
    font-size: 15px;
}

h2 {
    font-size: 15px;
    line-height: 1.3;
    color: #8f8f8f !important;
}

/* right hero */

.right-hero {
    grid-column: 3 /-1;
}

img {
    width: 70%;
    height: auto;
}

