@import url('styles.css');

/* Layout Configurations */

/* Container */

.container {
    display: grid;
    grid-template-rows: 1fr 6fr 3fr 4fr;
    grid-template-columns: 1fr 4fr 2fr;
}

/* Header */

/* Global */
.top-header {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    justify-items: center;
    align-items: center;
}


.logo {
    font-size: 30px;
    font-weight: 700;
}

.logo::first-letter {
    font-size: 40px;
    font-weight: 900;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

a {
    text-decoration: none;
}


/* Header End */